.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}
.form-group ul{
      display: inline;
    padding: 0 0.5rem;
}
.form-group ul li{
    padding: 0 1rem;
     display: inline-block;
}
.modal-content{
 border:0;
 border-radius: 0;
}
.modal-title{
    line-height: 1;
}
.modal-header{
    color: #ffffff;
    text-align: center;
    background-color: #3993ba;
    height: 50px;
    border-radius: 0;
}
.modal-header h5{
    margin: 0 auto;
    width: 100%;
}
.modal-header button span,modal-header button span:hover{
    color: #ffffff;
}

.modal-header .close {
    padding: 0.6rem 0.6rem;
    margin: -1rem -1rem -1rem auto;
}
.modal-body{
    border: #eeeeee solid 1px;
}
.modal-footer{
    border-radius: 0px;
    border: #eeeeee solid 1px;
}
.btn-primary{
    background-color: #3993ba;
}
/*Add AppS*/
.modal-dialog{
    max-width: 800px;
    margin: 1.75rem auto;
}
.app-card {
     background-color: #f8f8f8;
    overflow-y: scroll;
    height: 300px;
}
.appcard-img{
  width:100%;
    text-align: center;
}
.app-card img{
    width: 65px;
    height: 65px;
    margin: 0 auto;
}
.app-card ul{
}
.app-card ul li{
    text-align: center;
    background-color: #ffffff;
    width: 120px;
    margin: 0.1rem;
    padding: 10px;
    font-size: 12px;
    display: inline-block;
    border: #eeeeee solid 1px;
}
.app-card ul li.selected{
    color: #ffffff;
    background-color: #3993ba;
}