.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}
.form-group ul{
      display: inline;
    padding: 0 0.5rem;
}
.form-group ul li{
    padding: 0 1rem;
     display: inline-block;
}
.modal-content{
 border:0;
 border-radius: 0;
}
.modal-title{
    line-height: 1;
}
.modal-header{
    color: #ffffff;
    text-align: center;
    background-color: #3993ba;
    height: 50px;
    border-radius: 0;
}
.modal-header h5{
    margin: 0 auto;
    width: 100%;
}
.modal-header button span,modal-header button span:hover{
    color: #ffffff;
}

.modal-header .close {
    padding: 0.6rem 0.6rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-footer{
    border-radius: 0px;
    border: #eeeeee solid 1px;
}
.btn-primary{
    background-color: #3993ba;
}
.modal-dialog{
    max-width: 800px;
    margin: 1.75rem auto;
}

.appcard-img{
  width:100%;
    text-align: center;
}
.appcard-img img{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.app-card ul{
}
.app-card ul li{
    text-align: center;
    background-color: #ffffff;
    width: 120px;
    margin: 0.1rem;
    padding: 10px;
    font-size: 12px;
    display: inline-block;
    border: #eeeeee solid 1px;
    
}
.app-card ul li.selected{
    color: #ffffff;
    background-color:. #3993ba;
}

/*------------*/
.form-contol{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #efefef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.control-label{
    margin-bottom: 1rem;
}


.control-label::after{
    
}

.custom-file-input{
     
}
.custom-file-label{
     background-color: #efefef;
    width: 340px;
}
.custom-file-label::after{
   float:right;
    border-radius: 5px;
    width: 130px;
   text-align: center;
    right:-135px;
    color:#ffffff;
    background-color: #404040;
}
.form-control{
     background-color: #efefef;
}