.modal-dialog {
    max-width: 1000px;
}
.appcard-img{
  width:100%;
    text-align: center;
}
.dataTable tr{
     text-align: center;
    border-bottom: 1px solid #CCCCCC;
}
.dataTable th, .app-list td{
     text-align: center;
    border: 0px;
}
.table-bordered{
    border: 0;
}
.dataTable img{
    width: 34px;
    height: 34px;
    margin: 0 auto;
}