
@import "admin.css"; 
@import "loading.css"; 
@import "dialogmodals.css";
@import "modal-ribbons.css";
@import "nav-icon.css";
@import "policywifi.css";
@import "policy.css";

.modal-header .close{
    padding: 0.8rem;
    width: 20px;
    height: 20px;
    background: #efefef;
}
.modal-header .close span{
    margin-top: -15px;
}
.modal-footer.flex-space-between{
    justify-content: space-between;
}
.text-info{
    color:#3993ba !important;

}
.text-gold{
    color:#ae8916 ;
}
.text-blue{
    color:#3641de;
}
.text-red{
    color: #b10000;
}
.text-gray{
    color: #7a7777;
}
.text-success{
    color: #0d511d !important;
}
.text-underline{
    text-decoration: underline;
}
.text-shadow{   
    text-shadow: 2px 2px #d3d3d3;
}
.bg-light-gray{
    background-color: #efefef    ;
}
.p01{ 
    padding: 0.1rem 0.5rem;
}
.shadow01{
    box-shadow: 0 0 3px 0 #8b8b8b;
}
.overflow-y-auto{
    overflow-x: hidden;
    max-height: 85vh;
    overflow-y: auto;
}
.custom-control-input:checked ~ .custom-control-label::before{    
    border-color: #212529;
    background-color: #212529;
}
.custom-control.custom-radio .custom-control-label{
    display: flex;
    align-items: center;
}
.custom-control.custom-radio.custom-control{
    width: 100%;
}
.custom-control.custom-radio.custom-control .custom-control-label{
    padding-top: 2px;
 }
 .custom-control.custom-radio.custom-control-inline{ width: auto;}
.custom-control.custom-radio.custom-control-inline .custom-control-label{
    padding-top: 0px;
 }
.add-top-line{
    border-top: 2px solid #a9a9a9;
}
.card-title small{
    color:#7a7777;
    font-size: 15px;
    line-height: 24px;
    position: relative;
    top: -3px;
}
.modal-dialog.modal-keyin{
    max-width: 700px;
}
.max-wid-1000{
    max-width: 1000px !important;
}
.modal-dialog.modal-keyin .modal-header .close{ 
    margin-top: -5px;
    margin-right: -5px;
    background: none;
}
.modal-dialog.modal-keyin .modal-header .close span{
    color: #fff;
}
.modal-dialog.modal-keyin .modal-content{
    border:0;
}
.modal-dialog.modal-keyin .modal-header{
    margin:0;
    color: #fff;
    text-align: center;
    background-color: #3993ba;
    height: 50px;
    border-radius: 0;
}
.modal-dialog.modal-keyin .modal-header h5{
    margin: 0;
    line-height: 50px;
    padding: 0;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.modal-dialog .resizable01{
    height: 550px;
}
.modal-dialog .resizable01 .resizable01-scroller{    
    overflow-x:hidden;
    overflow-y: auto;
}
.modal-dialog .resizable02{
    height: 300px;
}
.modal-dialog .modal-body .dataTable-outer{
    background: none;
    padding:0;    
}
.modal-dialog .modal-body .dataTable-outer .table-responsive{
    height: auto;
    overflow-x: unset;
    overflow-y: unset;
    padding: 0;
}
.modal-dialog .modal-body .dataTable-outer .table-responsive+.row{
    display: flex;
    align-items: center;
}
.modal-dialog .modal-body .dataTable-outer .dataTables_length{ 
    text-align: right;
}
.modal-dialog .modal-body .dataTable-outer .dataTables_length .custom-select.form-control{
    width: auto;
}
.modal-dialog .modal-body .dataTable-outer .dataTables_paginate{
    text-align: center;
}
.modal-dialog .modal-body .dataTable-outer .pagination{
    margin-bottom: 0;
    display: inline-flex;
}
.modal-dialog .modal-body .dataTable-outer .table-responsive .table.datatable tbody{
    display:block;
    height:120px;
    overflow-y:scroll;
}
.modal-dialog .modal-body .dataTable-outer .table-responsive .table.datatable tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}    
.modal-dialog .modal-body .dataTable-outer .table-responsive .table.datatable thead {
    display: table;
    width: calc( 100% - 1em )
}

.table.datatable.tbody-add-scroll tbody{
    display:block;
    height:460px;
    overflow-y:scroll;
}
.table.datatable.tbody-add-scroll tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}    
.table.datatable.tbody-add-scroll thead {
    display: table;
    width: calc( 100% - 1em )
}



.modal-dialog .modal-body .dataTables_filter{ display: none !important; }
.modal-dialog.modal-keyin .modal-footer{
    border-top: none;
}
.modal-dialog.modal-keyin .modal-body h3{
    color:#404040;
    opacity: 0.7;
    font-size:22px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.modal-dialog.modal-keyin .input-group{
    align-items: center;
    width: 100%;
}
.modal-dialog.modal-keyin .input-group .form-control{
    padding: 0.2rem .5rem;
    height: 32px;
    border: none;
}
.modal-dialog.modal-keyin .input-group textarea.form-control{
    min-height: 80px;
}
.modal-dialog.modal-keyin .input-group label{ 
    margin-bottom: 0;
}
.modal-dialog.modal-keyin .input-group  .browsefile-btn{
    padding:.4rem 1rem;
    top:0;
    right: 0;

}

.modal-dialog.modal-keyin .select2-container .select2-selection--single{
    background-color: #efefef;
    border: none;
}
.select2-dropdown{
    background: #efefef !important;
    border: none;
}
.select2-results__option{
    margin: 0 8px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: #3993ba;
    margin: 0 8px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    margin: 0 3px;
    width: calc(100% - 6px);
}
.modal-ribbon-dialog.modal-alert{
    min-width: 300px;    
    max-width: fit-content;

}
.modal-ribbon-dialog.modal-alert h6{
    padding-right: 15px;
}
.modal-ribbon-dialog.modal-alert button.close span{
    top: 1px;
    right: 1px;
}

.modal-dialog .btn-light{
    background-color: #efefef;
    border-color: #efefef;
    color: #404040   ;
}
.modal-dialog .btn-primary {
    border-color: #3993ba ;
    background: #3993ba ;
}
.modal-dialog .btn{
    min-width: 70px;
    padding: .1rem .1rem;
}
.modal-dialog.modal-confirm .modal-header{
    border-bottom:none;
    height: auto;
}
.modal-dialog.modal-confirm .modal-content{
    border:none;
    border-radius: 0;
    
}
.modal-dialog.modal-confirm .modal-body{
    display:flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.modal-dialog.modal-confirm .modal-body h5{
    font-weight: 800;
    margin-bottom: 15px;
}
.modal-dialog.modal-confirm .modal-body h6{
    margin-top: 0px;
    float: none;
    margin-left: 0;
    color: #7a7777;
}
.modal-dialog.modal-confirm .modal-body .info{
    width: calc(100% - 120px);
}
.modal-dialog.modal-confirm .modal-footer{
    border-top:none;
    padding: 1.5rem 1rem;
}


.modal-header.modal-blue {
    color: #ffffff;
    text-align: center;
    background-color: #3993ba;
    height: 50px;
    border-radius: 0;
}
.modal-header.modal-blue .modal-title{
    margin-top: 0px;
    margin-left: 0px;

}
.resizable01-scroller .modal-warning-outer{    
    position: inherit;
    margin-top: 0px;
}
 .modal-warning-outer{
    min-height:20px;  
    position: relative; 
    margin-top: -38px;
}
.resizable01-scroller .modal-warning-outer .modal-warning {
    position: absolute;
    left:0;
    width: 100%;
    top: 10px;
    display: flex;
    align-items: center;
}
.modal-warning-outer .modal-warning .close{
    position: absolute;
    right: 10px;
    top: 0;
}
.modal-warning-outer .modal-warning .close span{
    margin-top: -5px;
}
.modal-warning {
    color: #ae8916;
    background-color: #fff3cd;
    position: relative;
    border-radius: 5px;    
    display: block;
    padding: 6px 10px ;
    z-index: 99;    


}
.modal-warning i {
    color: #ae8916;
    background-color: #ffffff;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 99rem;
}
.modal-warning h5 {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    clear: both;
}
.modal-warning h6 {
    display: inline-block;
    margin:2px 0 0 10px;
    font-size: 14px;
    font-weight: normal;
    clear: both;
    float: none;
}
.modal-warning button.close {    
    color: #666666;
    background: none;
}
.modal-warning button.close span{
    margin-left: 0;
    margin-top: -15px;
}
input.warning::placeholder {
    /* Firefox, Chrome, Opera */
    color:#cc4053    ;
}

.device-error-state .item{
    background: #f8f8f8 ;    
}
.device-error-state .item h3{
    background: #f1f1f1;
    border-bottom: 1px solid #a9a9a9;
    color: #7a7777;
    font-size: 22px;
    padding: 8px 20px;
}
.device-error-state .item .info{
    padding:15px 20px;
    color: #7a7777 ;
    min-height: 185px;
    font-size: 14px;
}
.device-error-state .item .info .form-group .row{
    min-height: 36px;
}
.device-error-state .item .info b{
    color: #404040 ;
}
.device-error-state .item .info .remark{
    color:#b1c1c8;
    font-size: 13px;
}
.device-error-state .item .info .refresh{
    border: 1px solid #3993ba ;
    background: none;
    padding: 1px 2px;
}
.device-error-state .item .info .refresh i{ 
    font-size:xx-small;
}
.btn{
    position: relative;
}
.btn .tip{
    display: none;;
    background-color: #2b5f75;
    color: #fff;
    font-size: 12px;
    position: absolute;
    left:0;
    bottom:-20px;
    padding: 0 5px;
    width: max-content;
 }
 .btn:hover .tip{
    display: inline-block;
 }
.btn-grid-off{
    padding:6px 0.5rem ;
}
.btn-grid-off i{
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    background-size: cover;
    -webkit-mask: url(../img/icon-grid-off.svg) no-repeat 50% 50%;
    mask: url(../img/icon-grid-off.svg) no-repeat 50% 50%;
}
.btn-grid-off i.text-info{
    background: #3993ba;
}
.btn-grid-off:hover{
    background-color: #7a7777;
    border-color: #7a7777;
}
.btn-grid-off:hover i{
    background-color: #fff;
}
.grid-mode .btn-grid:hover{
    background-color: #7a7777;
}
.grid-mode .btn-grid:hover i{
    color: #fff;
}
.far.fa-caret-square-down.text-info:hover{
    color: #7a7777 !important;
}
.fas.fa-caret-square-up.text-info:hover{
    color: #7a7777 !important;
}
.fas.fa-ellipsis-h.text-info:hover{
    color: #7a7777 !important;
}
.card-header{
    padding: 0.75rem 0.4rem;
}
#card-info{
    color:#ffffff;
    background-color: #2b5f75;
    padding: 10px;
    text-align:center;
    border-radius: 5px;
    margin: 15px 30px;
    position: relative;
    font-size: 14px;
    top:5px;
    z-index:99;
}
#card-info b{
    font-size: 16px;
}
.card-body.dataTable-outer{
    margin-left: 0;
    padding: 1.25rem 0.5rem;
}
.card-body.dataTable-outer .dataTables_wrapper>.row .col-sm-12.col-md-6:last-child{
    display:flex;
    align-items: center;
    justify-content: flex-end;    
}
.card-body.dataTable-outer .dataTables_filter{
    position: relative;
    display: inline-block;
}
.card-body.dataTable-outer .dataTables_filter label{
    margin-bottom: 0;
    position: relative;
}
.card-body.dataTable-outer .dataTables_filter i{
    position: absolute !important;
    top:8px !important;
    left:10px !important;
 }
 .card-body.dataTable-outer .dataTables_filter input.form-control{
    top: 0;
    padding-left: 30px;     
    margin-left: 0;
    height: 28px;
 }
.datatable th{
    vertical-align: middle !important;
    color: #404040 ;
    padding: 0.3rem !important;
    border-bottom: 1px solid #404040 !important ;
    border-top: none !important;
    text-align: left;
}
.datatable th b{
    display:inline-flex;
    align-items: center;
    padding-right: 22px;
    position: relative;
    height: 32px;
    text-align: center;
}
.datatable th.sorting b:before{
    position: absolute;
    content:url(../img/icon-sort.svg) !important;
    opacity: 1 !important;
    top: 8px;
    right: 0;
}
.datatable th.sorting_asc b:before{
    position: absolute;
    content:url(../img/icon-sort-up.svg) !important;
    opacity: 1 !important;
    top: 8px;
    right: 0;
}
.datatable th.sorting_desc b:before{
    position: absolute;
    content:url(../img/icon-sort-down.svg) !important;
    opacity: 1 !important;
    top: 8px;
    right: 0;
}
.datatable th.sorting:before,.datatable th.sorting_asc:before,.datatable th.sorting_desc:before{
    content: "" !important;
}
.datatable th.sorting:after,.datatable th.sorting_asc:after,.datatable th.sorting_desc:after{
    content: "" !important;
}
.datatable th.no-sort.sorting_asc:before{
    content: '';
}
.datatable th.no-sort.sorting_asc:after{
    content: '';
}
.datatable td{
    padding:0.5rem 0.3rem !important; 
    vertical-align: middle;
    position: relative;
}
.datatable tr.active td{
    background: #e7eef1;
}
.datatable tr.open td{
    vertical-align: top;
}
.datatable tr:hover td{
    background-color: #ebebeb;
}
.datatable tr.open td .runtime i:before{
     /*content: "\f35b"; */   
}
.datatable tr.delete td{
    color:#c8c8c8;   
}
.datatable tr.delete td .runtime i{
    color:#c8c8c8 !important;   
}
.datatable tr.delete:hover td{
    color: #212529;
}
.datatable tr.delete:hover .runtime-permission-div .outer .item .sub-item{
    color: #8b8b8b;
}
.datatable tr.delete:hover .runtime-permission-div .outer .item .sub-item label{
    color: #404040;
}
.datatable tr.open .runtime-permission-div{
    position: relative;
    height: 50px;
}
.datatable .delete-alert{
    display: none;
    background: #b10000;
    font-size: 13px;
    color: #fff;
    position: absolute;  
    padding: 2px;
    left: 0;
    top: 0;  
}
.datatable tr:hover .delete-alert{
    display: inline-block;
}
.datatable .runtime-permission-div .outer{
    position: absolute;
    background: #fff;
    display: flex;
    right: -10vw;
    left: -56vw;
    bottom: -0.5rem;
    border-top: 1px solid #dee2e6;
    padding: 5px 0;
}
.datatable .runtime-permission-div .outer .item{
    padding: 0 15px;   
    font-size: 14px;
    border-left: 1px solid #dee2e6;
}
.datatable .runtime-permission-div .outer .item:first-child{
    border-left:none ;
}
.datatable .runtime-permission-div .outer .item .sub-item{
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: #8b8b8b ;
}
.datatable .runtime-permission-div .outer .item .sub-item label{
    text-align: right;
    margin-right: 10px;
    width: 60px;
    margin-bottom: 0;
    color: #404040   ;
}
.datatable tr.delete .runtime-permission-div .outer .item .sub-item {
    color:#c8c8c8; 
}
.datatable tr.delete .runtime-permission-div .outer .item .sub-item label{
    color:#c8c8c8; 
}
.dataTable-outer .paginate_button{
    margin: 0 3px;
}
.dataTable-outer .paginate_button a{
    font-size: 12px;
    background: none !important;
    border:none !important;
    padding: 0 !important;
    display: block;
    min-width:20px ;
    height:20px;
    text-align: center;
    line-height: 18px;
}
.dataTable-outer .paginate_button.active a{
  background: #3993ba !important;
  padding: 0  !important;  
} 
.dataTable-outer .paginate_button.previous{
    background: none;
    border: 1px solid #676f72 ;
    border-radius: 5px;
    
}
.dataTable-outer .paginate_button.previous a{
    color:#3993ba;
}
.dataTable-outer .paginate_button.next{
    background: none;
    border: 1px solid #3993ba ;
    border-radius: 5px;   
}
.dataTable-outer .paginate_button.next a{
    color:#3993ba;
}
.dataTable-outer .custom-select.form-control{
    padding: 0.1rem 1.75rem 0.1rem 0.75rem !important;
    height: 25px;
    font-size: 12px;
    width: auto;
}
.dataTable-outer .dataTables_info{
    padding-top: 0 !important;
}
.dataTable-outer .table-responsive+.row{
    display:flex;
    align-items: center;
    margin: 0 10px;
}
.dataTable-outer .dataTables_paginate{
    text-align: center !important;
}
.dataTable-outer .pagination{
    margin-bottom: 0;
    display: inline-flex;
}
.dataTable-outer .dataTables_length{
    text-align: right;
}
.dataTable-outer  .table-responsive{
    padding: 0 15px;
    margin-bottom: 15px;
}
.dataTable-outer  .table-responsive #dataTable_wrapper>.row{
     min-height: 600px;
}
.dataTable-outer.dataTable-remove-search  #dataTable_wrapper>.row:first-child{
    display: none;
}
.dataTable-outer  .icon-img img{
    max-width: 40px;
}
.dataTable-outer #dataTable_wrapper .row .col-sm-12.col-md-6:first-child{
     max-width: 25%;
}
.dataTable-outer #dataTable_wrapper .row .col-sm-12.col-md-6:last-child{ 
    max-width: 75%;
    flex: auto;
}
.app-list-scroller{
    overflow-y: auto;
    max-height: 400px;
}
.app-list-scroller .app-list-outer{
    display: flex;
    flex-wrap: wrap;
    background: #f8f8f8;
}
.app-list-scroller .app-list-outer .item{
    width: calc(20% - 20px);
    padding: 10px;
    margin: 10px;
    background: #fff;
}
.app-list-scroller .app-list-outer .item:hover{
    background:#3993ba;
}
.app-list-scroller .app-list-outer .item:hover .info{
    color: #fff;
}
.app-list-scroller .app-list-outer .item .info{
    color: #404040 ;
}
.app-list-scroller .app-list-outer .item .info h4{
    font-size: 16px;
}
.app-list-scroller .app-list-outer .item .info h5{
    font-size: 14px;
}
.app-list-scroller .app-list-outer .item .info p{
    font-size: 14px;
    margin-bottom: 0;
}
.app-list-scroller .app-list-outer .item .img{
    text-align: center;
    margin-bottom: 10px;
}
.app-list-scroller .app-list-outer .item .img img{
    max-width: 65px;
    max-height: 65px;
    margin: 0 auto;
}
.card-tab ul li a:active, .card-tab ul li a.selected {
    color: #ffffff;
    border: solid 1px #2b5f75;
    background-color: #2b5f75;
}
.function-btn .dropdown-menu{
    box-shadow: 0 0 10px 0 #404040;
    margin-top: 10px;
}
.function-btn .dropdown-menu.p01{
    padding: 8px;
}
.export-btn-outer .dropdown-menu{
    border:1px solid #707070;
    background: #fff;
    padding: 8px;
    box-shadow: 0 0 10px 0 #404040;
    min-width: 120px;
    margin-top: 10px;
}
.export-btn-outer .dropdown-menu a{
    display: block;
    color:#7a7777;
    padding:5px 8px;
}
.export-btn-outer .dropdown-menu a:hover{
    background: #3993ba ;
    color: #fff;
    text-decoration: none;
}

.filter-btn-outer .dropdown-menu{
    box-shadow: 0 0 10px 0 #404040;
    margin-top:10px;
    min-width: 300px;
}
.datepicker {
    padding: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    direction: ltr;
    font-size: 0.8rem !important;
}
.function-add-left-row{
    display: flex;
    align-items: center;
}
.function-btn{ display: inline-block;  margin-right: 10px;}
.btn.text-info.btn-light.shadow01.p01{
    height:28px;
}
.btn.text-info.btn-outline-info.p01{
    height:28px;
}
.btn.text-info.btn-outline-info.p01:hover{
    border-color: #8b8b8b;
    color:#8b8b8b !important;
    background: none;

}
.btn.text-info.btn-outline-info.p01:hover i{
    color:#8b8b8b!important;
}
.btn.text-info.btn-outline-info.p01:focus{
    background: #3993ba ;
    webkit-box-shadow: none;
    box-shadow:none; 
    border-color: #3993ba;
    color:#fff !important;
}
.btn.text-info.btn-outline-info.p01:focus i{
    color:#fff !important;
}

.function-btn .title{
    color:#404040;
    font-size: 18px;
    font-weight: 800;
    padding:10px 20px 15px 20px;
}
.filter-btn-outer  .title{
    padding:15px 20px;
}
.filter-btn-outer .sub-title{
    background: #2b5f75 ;
    font-style: 15px;
    color: #fff;
    padding: 7px 7px 7px 20px;
}
.filter-btn-outer .sub-title i{
    float: right;
}
.filter-btn-outer .item.active .sub-title i{
    transform: rotate(90deg);
}
.filter-btn-outer .list-item .input-group{
    padding: 7px 20px;
    display: flex;
    align-items: center;
}
.filter-btn-outer .list-item .input-group label{ 
    margin-top:0;
    margin-bottom: 0;
    
}
.filter-btn-outer .item{
    border-top:1px solid #fff;
}
.filter-btn-outer .item.checkbox-list .input-group{
    display: flex;
    align-items: center;
}
.filter-btn-outer .item.checkbox-list .input-group span{
    margin-top: 5px;
}
.filter-btn-outer .item.calendar .input-group input{
    padding: 0 10px;
    font-size: 12px;
    height: 20px;
    background: none;
    margin: 0 5px;
}
.filter-btn-outer .item.calendar .input-group .btn-clear-input{
    border: none;
    background: none;
    color: #b10000 ;
}
.filter-btn-outer .item.checkbox-list .input-group:hover{
    background: #efefef ;
}
.filter-btn-outer .item.checkbox-list .input-group.active{
    background: #e7eef1 ;
}
.filter-btn-outer .sub-item{
    display: none;
}  
.filter-btn-outer .item.active .sub-item{
    display: block;
}
.dropdown-tools-outer .list-item .item a{
    display: block;
    padding: 7px 15px;
}
.dropdown-tools-outer .list-item .item a:hover{
    background: #efefef ;
    text-decoration: none;
}
.dropdown-tools-outer .list-item .item a i{
    margin-right: 10px;   
    color:#7a7777 !important;
}
.dropdown-tools-outer .list-item .item a:focus{
    background: #3993ba ;
    color:#fff;
}
.dropdown-tools-outer .list-item .item a:focus i{
    color:#fff !important;
}
.dropdown-display-layout-outer .search-div{
    padding: 7px 0;
}
.dropdown-display-layout-outer .list-item .item{
    padding: 3px 15px;
    display: flex;
    align-items: center;
}
.dropdown-display-layout-outer .list-item{
    max-height: 290px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropdown-display-layout-outer .list-item .item.active{
    background: #e7eef1    ;
}
.dropdown-display-layout-outer .list-item .item:hover{
    background: #efefef  ;
}
.dropdown-display-layout-outer .list-item .item span{
    margin-top: 7px;
}

.function-btn{
    color:#7a7777;
  
 }
.function-btn a{
   color:#7a7777;
 
}
.function-btn.ul-list .list-item{
    height: 310px;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 200px; 
    max-height: 310px;   
}
.function-btn.ul-list .list-item ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.function-btn.ul-list .list-item ul a{
    display: block;
    padding: 5px;
    position: relative;
    text-decoration: none;
}
.function-btn.ul-list.list-item ul a:hover{
    text-decoration: none !important;
}
.function-btn.ul-list .list-item ul a:hover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efefef ;
    z-index: -1;    
}
.function-btn.ul-list .list-item ul ul a:hover:before{
    left: -30px;
    width: calc(100% + 30px);
}
.function-btn.ul-list .list-item ul ul ul a:hover:before{
    left: -60px;
    width: calc(100% + 60px);
}
.function-btn.ul-list .list-item ul ul ul ul a:hover:before{
    left: -90px;
    width: calc(100% + 90px);
}
.function-btn.ul-list .list-item ul ul ul ul ul a:hover:before{
    left: -120px;
    width: calc(100% + 120px);
}
.function-btn.ul-list.list-item ul a:focus{
    background:#3993ba;
    color: #fff;
    text-decoration: none;
}
.function-btn.ul-list .list-item ul a.active i{
    transform:  translateX(50%) translateY(-50%) rotate(90deg)
}
.function-btn.ul-list .list-item ul a i{
    padding-left: 15px;
}
.function-btn.ul-list .list-item ul ul{
    display: none;
    position: relative;  
    padding-left: 15px;  
}
.function-btn.ul-list .list-item ul ul.active{
    display: block;
}
.function-btn.ul-list .list-item ul ul:before{
    content: '';
    position: absolute;
    left: 10px;
    top:5px;
    height:calc(100% - 10px);
    width: 1px;
    background: #7a7777;
    z-index: 999;
}