.modal-dialog {
    max-width: 540px;
    margin: 1.75rem auto;
    background-color: #ffffff;
}
.form-group ul{
      display: inline;
    padding: 0 0.5rem;
}
.form-group ul li{
    padding: 0 1rem;
     display: inline-block;
}
.modal-content{
 border:0;
 border-radius: 0;
}

.modal-header{
    height: 50px;
    border-bottom:1px solid #ffffff;
    border-radius: 0;
    margin: 5px;
}
 
.modal-header h5{
    margin-top: 10px;
    margin-left:135px;
    width: 100%;
}
.modal-title{
    color:#1d4188;
    line-height: 80px;
    font-weight: bold;
     vertical-align: baseline;
}
button.close{
    height:32px;
    width: 32px;
    background-color: #cccccc;
    display: block;
    border-radius:100%;
}
button.close span{
    color: #707070;
    display: block;
    text-align: center;
    margin-top: -14px;
    margin-left: -8px;
} 

.modal-body{
    border: #eeeeee solid 0px;
    padding:0 35px;
}

.modal-content h6{
 margin-top:-70px;
 margin-left:120px;
 position: relative;
 float: right;   
 clear:both;
}
.modal-footer{
    border-radius: 0px;
    border: #eeeeee solid 0px;
    padding: 35px;
}

.btn-primary{
    background-color: #3993ba;
}


.modal-icon{
    display: block;
    height: 100px;
    width:100px;
    line-height: 100px;
    text-align: center;
    background-color:#cce5ff;
}
.modal-icon i{
    display: inline-block;
    vertical-align: middle;
    font-size:64px;
    margin: 0 auto;
}

.txt-info{color:#1d4188;}
.txt-primary{color:#1d4188;}
.txt-warning{color:#ae8916;}
.txt-danger{color:#b10000;}
.txt-success{color:#0d511d;}
.ibg-info{
    color:#1d4188;
    background-color: #cce5ff;
}
.ibg-primary{
    color:#1d4188;
    background-color: #cce5ff;
}
.ibg-warning{
    color:#ae8916;
    background-color: #fff3cd;
}
.ibg-danger{
    color:#b10000;
    background-color: #f8d7da;
}
.ibg-success{
    color:#0d511d;
    background-color: #c5ebce;
}