.modal-ribbon-dialog {
    margin: 0;
    padding: 0;
    max-width: 540px;
    line-height: 40px;
    margin: 18% auto;
    background-color: #ffffff;
    border: 0;
}

.modal-ribbon-icon{
    float: left;
    display: block;
    height: 40px;
    width:40px;
    text-align: center;
    background-color:#cce5ff;  
}
.modal-ribbon-icon i{
     display: block;
    vertical-align: middle;
    line-height: 40px;
    font-size:28px;
    margin: 0 auto;
}

.modal-ribbon-dialog h5{
    float: left;
    display: block;
    line-height: 40px;
    padding-left: 5px;
    
}
.modal-ribbon-dialog h6{
    margin: 0;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding-left: 15px;
}


.modal-ribbon-dialog button{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    z-index:99;
    line-height: 40px;
    
}
.modal-ribbon-dialog button.close{
    margin: 0;
    height:20px;
    width: 20px;
    z-index:99;
    background-color: #cccccc;
    border-radius:100%;
    margin-top: 10px;
    margin-right: 10px;
   
}
.modal-ribbon-dialog button.close span{
    color: #707070;
    position: relative;
    float: right;
    display: block;
    top: -13px;
    right:2px;
} 


.txt-info{color:#1d4188;}
.txt-primary{color:#1d4188;}
.txt-warning{color:#ae8916;}
.txt-danger{color:#b10000;}
.txt-success{color:#0d511d;}

.ibg-info{
    color:#1d4188;
    background-color: #cce5ff;
}
.ibg-primary{
    color:#1d4188;
    background-color: #cce5ff;
}
.ibg-warning{
    color:#ae8916;
    background-color: #fff3cd;
}
.ibg-danger{
    color:#b10000;
    background-color: #f8d7da;
}
.ibg-success{
    color:#0d511d;
    background-color: #c5ebce;
}