.form-group p {
    color: #3993bc;
    font-size: 14px;
    margin-top: 10px;
}

.form-group ul{
    display: inline;
  padding: 0 0.5rem;
}
.form-group ul li{
  padding: 0 1rem;
   display: inline-block;
}

.modal-dialog {
    min-width: 700px;
    margin: 1.75rem auto;
}

.modal-header{
    color: #ffffff;
    text-align: center;
    background-color: #3993ba;
    height: 50px;
    border-radius: 0;
}
.modal-header h5{
    margin: 0 auto;
    width: 100%;
}
.modal-header button span,modal-header button span:hover{
    color: #ffffff;
}
.modal-header .close {
    padding: 0.6rem 0.6rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-body {
    padding: 30px;
    padding-bottom: 5px;
}

.modal-footer {
    padding-top: 5px;
    border-top: 1px solid #ffffff;
}

.modal-footer .btn {
    margin: 20px 10px;
}
.form-control{
    background-color: #efefef;
}

.btn-primary {
    border: #2983aa solid 1px;
    background-color: #3993ba;
}

.btn-secondary {
    color: #333333;
    border: #dfdfdf solid 1px;
    background-color: #efefef;
}
/*checkbox-info*/
.card-info {
    color: #ffffff;
    background-color: #2b5f75;
    padding: 8px 10px 5px;
    text-align: center;
    border-radius: 5px;
    margin:5px 30px 15px;
    position: relative;
    top: 5px;
    z-index: 99;
}
.card-info h5 b,.card-info h5,.card-info h6 {
    white-space:nowrap;
     display: inline-block; 
}
tr.checked {
    background-color: #e7eef1;
}

/*Warning*/
div.modal-warning {
    color: #ae8916;
    background-color: #fff3cd;
    position: relative;
    border-radius: 5px;
    top: 20%;
    display: block;
    padding: 6px 10px 2px;
    z-index: 99;
}

div.modal-warning i {
    color: #ae8916;
    background-color: #ffffff;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 99rem;
}

div.modal-warning h5 {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    clear: both;
}

div.modal-warning h6 {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
    clear: both;
}

div.modal-warning button.close {
    margin-top: -3px;
    color: #666666;
}

input.warning[type="text"]::placeholder {
    /* Firefox, Chrome, Opera */
    color: red;
}
