.card-warpper{
  width: 100%;
}
.card-menu{
    width:160px;
    height:calc(100% - 208px);
    position:absolute;
    
    left:0;
    color:#8b8b8b;
    background-color: #CCCCCC;
}
.card-menu ul{
     margin-left: -40px;
}
.card-menu ul li{
    margin: 0 auto;
    list-style-type: none;
    position: relative;     
}
.card-menu ul li a{
    padding:0.5rem;
    height: 40px;
    width: 100%;
    display: block;
    text-decoration: none;
}
.card-menu ul li a:hover{
    background-color: #3993ba;
  
    color:#ffffff;
    
}
.card-body{
    clear:both;
}

.card-tab>ul{
    margin-top: 5px;
    width: 100%;
}
.card-tab>ul>li{
    width:100%;
    
}
.card-tab ul li a{
    padding: 0.5rem;
    text-align: center;
    background-color: #f1f1f1;
    color:#777777;
    height: 40px;
    font-size: 1.3rem;
    text-decoration: none;
    border:solid 1px #f8f8f8;
    border-radius: 0px;
}

.card-tab ul li a:hover{
    color:#ffffff;
    background-color: #2b5f75;
    border:solid 1px #8b8b8b;
}
.card-tab ul li a:active,.card-tab ul li a.selected{
    color:#ffffff;
    border:solid 1px #2b5f75;
    background-color: #2b5f75;
}


.card-nav ul li a{
    border: solid 1px transparent;
 padding: 0.5rem 0.75rem 0.5rem 0.75rem;  
}
.card-nav ul li a:hover,.card-nav ul li a:active,.card-nav ul li a.active{
    margin-top: -4px;
 padding: 0.5rem 0.75rem 0.5rem 0.75rem;  
 border: solid 1px #3993ba;
 border-top:solid 5px #3993ba;  
 border-bottom: solid 1px #ffffff;
    
 color:#3993ba;   
}


.card-button{
    float:right;
    position: relative;
    font-size: 13px;
    font-weight: normal;
    color:#3993BA;
    padding: 0.5rem 1rem;
    background-color:#f8f8f8;
    border:#CCCCCC solid 1px;
    border-radius:5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.card-button:hover{
    background-color: #3993ba;
  
    color:#ffffff;
    
}

.form-card{
    margin: 5px 18px 20px;
    padding: 0px;
    border-radius: 10px;
    background-color: #ffffff;
    border:#f4f4f4 solid 1px; 
}
.form-card .row{
    margin: 0 50px;
    border-bottom: #eeeeee solid 1px;
}

.form-card .col-md-4,.form-card .col-md-8{
    padding: 0.5rem;
    display: inline-block;
    float:left;
}
.form-card .form-control{
    height: calc(1.2em + 0.75rem + 2px);
    padding: 0.175rem 0.75rem;
    line-height: 1.2;
    border: 1px solid #eaeaea;
    background-color: #efefef;
    width: 400px;
}
.form-card .form-group .control-label{
    padding-top: 1rem;
    font-weight: 500;
    
}
.control-title{
    position: relative;
    display: block;
    top:-1px;
    background-color: #e7eef1;
    padding: 10px 70px;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight:bold;
}

.btn:not(.btn-outline).editable, .btn:not(.btn-outline).red {
    color: #b10000 !important;
    border: none;
    padding:0;
}

#switch-handleWidth{
  width: 400px;  
}
.browsefile-btn{
    margin-left: 10px;
    padding:4px 8px;
    font-size: 15px;
    color:#ffffff;
    background-color: #333333;
    
}
.input-group {
    width:300px; 
    clear: both;
}
.input-group input{
 width:300px;
}
.browsefile-btn{
    display:inline-block;
    position: relative;
    float: right;
    top:-33px;
right:-300px;
}