.card-warpper{
  width: 100%;
}
.card-menu{
    width:160px;
    height:calc(100% - 208px);
    position:absolute;
    
    left:0;
    color:#8b8b8b;
    background-color: #CCCCCC;
}
.card-menu ul{
     margin-left: -40px;
}
.card-menu ul li{
    margin: 0 auto;
    list-style-type: none;
    position: relative;     
}
.card-menu ul li a{
    padding:0.5rem;
    height: 40px;
    width: 100%;
    display: block;
    text-decoration: none;
}
.card-menu ul li a:hover{
    background-color: #3993ba;
  
    color:#ffffff;
    
}
.card-body{
    margin-left: 160px;
    clear:both;
}

.card-tab>ul{
    margin-top: 5px;
    width: 100%;
}
.card-tab>ul>li{
    width:50%;
    
}
.card-tab ul li a{
    padding: 0.7rem;
    text-align: center;
    background-color: #f1f1f1;
    color:#777777;
    height: 40px;
    text-decoration: none;
    border:solid 1px #f8f8f8;
    border-radius: 0px;
}

.card-tab ul li a:hover{
    color:#ffffff;
    background-color: #2b5f75;
    border:solid 1px #8b8b8b;
}
.card-tab ul li a:active,.card-tab ul li a.selected{
    color:#ffffff;
    border:solid 1px #3993ba;
    background-color: #3993ba;
}

.card-nav ul li{

}
.card-nav ul li a{
    border: solid 1px transparent;
 padding: 0.5rem 0.75rem 0.5rem 0.75rem;  
}
.card-nav ul li a:hover,.card-nav ul li a:active,.card-nav ul li a.active{
    margin-top: -4px;
 padding: 0.5rem 0.75rem 0.5rem 0.75rem;  
 border: solid 1px #3993ba;
 border-top:solid 5px #3993ba !important;  
 border-bottom: solid 1px #ffffff;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 color:#3993ba;   
}


.card-button{
    float:right;
    position: relative;
    font-size: 13px;
    font-weight: normal;
    color:#3993BA;
    padding: 0.5rem 1rem;
    background-color:#f8f8f8;
    border:#CCCCCC solid 1px;
    border-radius:5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.card-button:hover{
    background-color: #3993ba;
  
    color:#ffffff;
    
}