<style>
    .modal-body {
        padding: 30px;
    }

    .form-group p {
        color: #3993bc;
        font-size: 14px;
        margin-top: 10px;
    }

    .modal-body {
        padding-bottom: 5px;
    }

    .modal-footer {
        padding-top: 5px;
        border-top: 1px solid #ffffff;
    }

    .modal-footer .btn {
        margin: 20px 10px;
    }

    .btn-primary {
        border: #2983aa solid 1px;
        background-color: #3993ba;
    }

    .btn-secondary {
        color: #333333;
        border: #dfdfdf solid 1px;
        background-color: #efefef;
    }
</style>
<style>
    div.modal-warning {
        color: #ae8916;
        background-color: #fff3cd;
        position: relative;
        border-radius: 5px;
        top: 20%;

        display: block;

        padding: 6px 10px 2px;

        z-index: 99;
    }

    div.modal-warning i {
        color: #ae8916;
        background-color: #ffffff;
        display: inline-block;
        padding-top: 5px;
        text-align: center;
        font-size: 12px;
        width: 20px;
        height: 20px;
        border-radius: 99rem;
    }

    div.modal-warning h5 {
        display: inline-block;
        margin-left: 10px;
        font-size: 18px;
        font-weight: bold;
        clear: both;
    }

    div.modal-warning h6 {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        font-weight: normal;
        clear: both;
    }

    div.modal-warning button.close {
        margin-top: -3px;
        color: #666666;
    }

    input.warning[type="text"]::placeholder {
        /* Firefox, Chrome, Opera */
        color: red;
    }

    input.warning[type="password"]::placeholder {
        /* Firefox, Chrome, Opera */
        color: red;
    }
</style>
<style>
    .modal-loading {
        float: right;
        position: relative;
        top: 100%;
        right: 35%;
        display: block;
        margin: 0 auto;
        padding: 0px;
        top: 100px;
        z-index: 99;
        text-align: center;
        clear: both;
        height: 0;
    }

    .modal-body {
        margin-top: 0;

    }
</style>
<div class="modal fade" id="MD-adduser" tabindex="-1" role="dialog" aria-labelledby="MD-adduserLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 700px;max-width:700px;">
        <div class="modal-content">
            <form id="AddUserForm">
                <div class="modal-header">
                    <h5 class="modal-title " id="MD-adduserLabel">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-loading d-none" id="loadingSVG">
                    <svg class="spinner" width="200px" height="200px" viewBox="0 0 66 66">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                        </circle>
                    </svg>
                </div>

                <div class="modal-body">
                    <br />
                    <div class="modal-warning d-none"></div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"> User name*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-name" type="text" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Login account*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-account" type="text" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Password*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-password" type="password"
                                        placeholder=""  autocomplete="on"/>
                                </div>
                                <p>* 最少8碼 </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Confirm password*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-conpassword" type="password"
                                        placeholder="" autocomplete="on"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Email*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-email" type="text" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Role*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select class="form-control" id="user-role">
                                        <option value="0">Admin</option>
                                        <option value="1">Auditor-Read only</option>
                                        <option value="2">Auitor-Log & Report view</option>
                                        <option value="3">Device management user</option>
                                        <option value="4">Application management user</option>
                                        <option value="5">Device user management user</option>
                                        <option value="6">Device activation user</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Description</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <textarea rows="3" cols="50"  maxlength="50" class="form-control" id="user-description"
                                        name="comment" form="usrform"></textarea>
                                </div>
                                <p>限於50個字以內</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="adduserbtn" class="btn btn-primary"
                        onclick="adduserFunction()">Save</button>
                    <button type="button" id="adduserclose" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!--Modal Ribbon Success-->
<div class="modal" id="modal-ribbon-success" tabindex="-1" role="dialog" aria-labelledby="primaryModalLabel">
    <div class="modal-ribbon-dialog modal-dialog" role="document">
        <div class="modal-ribbon-icon ibg-success">
            <i class="fas fa-check ibg-success"></i>
        </div>
        <!--<h5 class="modal-ribbon-title txt-success" id="exampleModalLabel">Success</h5>-->
        <h6 class="txt-success">Successfully saved!</h6>
        <button type="button" class="close" id="modal-ribbon-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>



<!--Modal Ribbon Error-->
<div class="modal fade" id="modal-ribbon-error" tabindex="-1" role="dialog" aria-labelledby="primaryModalLabel">
    <div class="modal-ribbon-dialog modal-dialog" role="document">
        <div class="modal-ribbon-icon ibg-danger">
            <i class="fas fa-times ibg-danger"></i>
        </div>
        <!--<h5 class="modal-ribbon-title txt-danger" id="exampleModalLabel">Error</h5>-->
        <h6 class="txt-danger">Error! Failed to save</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>



<!--Modal Edit-->
<div class="modal fade" id="MD-edituser" tabindex="-1" role="dialog" aria-labelledby="MD-edituserLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 700px;max-width:700px;">
        <div class="modal-content">
            <form id="AddUserForm">
                <div class="modal-header">
                    <h5 class="modal-title " id="MD-edituserLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-loading d-none" id="loadingSVG">
                    <svg class="spinner" width="200px" height="200px" viewBox="0 0 66 66">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                        </circle>
                    </svg>
                </div>

                <div class="modal-body">
                    <br />
                    <div class="modal-warning d-none"></div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"> User name*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-name" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Login account*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-account" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Email*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-email" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Role*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select class="form-control" id="user-role" aria-valuetext="">
                                        <option value="0">Admin</option>
                                        <option value="1">Auditor-Read only</option>
                                        <option value="2">Auitor-Log & Report view</option>
                                        <option value="3">Device management user</option>
                                        <option value="4">Application management user</option>
                                        <option value="5">Device user management user</option>
                                        <option value="6">Device activation user</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Description</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <textarea rows="3" cols="50" maxlength="50" class="form-control" id="user-description"
                                        name="comment" form="usrform" aria-valuetext=""></textarea>
                                </div>
                                <p>限於50個字以內</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="edituserbtn" class="btn btn-primary">Save</button>
                    <button type="button" id="edituserclose" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>