
<div class="modal fade" id="MD-edituser" tabindex="-1" role="dialog" aria-labelledby="MD-edituserLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 700px;max-width:700px;">
        <div class="modal-content">
            <form id="EditUserForm">
                <div class="modal-header">
                    <h5 class="modal-title " id="MD-edituserLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-loading d-none" id="loadingSVG">
                    <svg class="spinner" width="200px" height="200px" viewBox="0 0 66 66">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                        </circle>
                    </svg>
                </div>

                <div class="modal-body">
                    <br />
                    <div class="modal-warning d-none"></div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"> User name*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-name" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Login account*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-account" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Password*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-password" type="password"
                                        value="" />
                                </div>
                                <p>* 最少8碼 </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Confirm password*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-conpassword" type="password"
                                        value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Email*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="" class="form-control" id="user-email" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Role*</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select class="form-control" id="user-role">
                                        <option value="0">Admin</option>
                                        <option value="1">Auditor-Read only</option>
                                        <option value="2">Auitor-Log & Report view</option>
                                        <option value="3">Device management user</option>
                                        <option value="4">Application management user</option>
                                        <option value="5">Device user management user</option>
                                        <option value="6">Device activation user</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">Description</div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <textarea rows="3" cols="50" class="form-control" id="user-description"
                                        name="comment" form="usrform"></textarea>
                                </div>
                                <p>限於50個字以內</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="edituserbtn" class="btn btn-primary">Save</button>
                    <button type="button" id="edituserclose" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

