<ul class="sidebar navbar-nav">
    <!--
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="nav-item-icon"><img src="img/nav-icon-user.svg" /></i>
            <span>User</span>
          </a>
        </li>-->

    <li class="nav-item active dropdown ">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-gandd.svg" /></i>
            <span> Group & Devices</span></a>
        <div class="dropdown-menu " aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="forgot-password.html">Add new devices</a>
            <a class="dropdown-item " href="register.html">Device List</a>
            <a class="dropdown-item" href="blank.html">Unapproved device list</a>
            <a class="dropdown-item" href="404.html">Preapproved device list</a>
            <a class="dropdown-item" href="login.html">Groups list</a>
        </div>
    </li>

    <li class="nav-item active dropdown ">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-policy.svg" /></i>
            <span>Policy</span></a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="register.html">Policy List</a>
            <a class="dropdown-item" href="login.html">Policy summary</a>
        </div>
    </li>


    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-appstore.svg" /></i>
            <span>App Store</span></a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="register.html">Google Play App</a>
            <a class="dropdown-item" href="login.html">Enterprise Enrollment</a>
            <a class="dropdown-item" href="forgot-password.html">Enterprise App</a>
        </div>
    </li>


    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-deviceuser.svg" /></i>
            <span>Device user</span></a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="register.html">Device user list</a>
            <a class="dropdown-item" href="login.html">Add user</a>
        </div>
    </li>

    <li class="nav-item active dropdown ">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-systemset.svg" /></i>
            <span>System settings</span></a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="register.html">Global settings</a>
            <a class="dropdown-item" href="login.html">Device even setting</a>
            <a class="dropdown-item" href="login.html">NDES</a>
            <a class="dropdown-item" href="login.html">Certificate management</a>
        </div>
    </li>


    <li class="nav-item active dropdown  show">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-userroleset.svg" /></i>
            <span>User Role setting</span></a>
        <div class="dropdown-menu show" aria-labelledby="pagesDropdown">
            <a class="dropdown-item active" href="register.html">User List</a>
            <a class="dropdown-item" href="login.html">Add account</a>
        </div>
    </li>


    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-logmanage.svg" /></i>
            <span>Log management</span></a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="register.html">Log List</a>
            <a class="dropdown-item" href="login.html">alert setting</a>
        </div>
    </li>


    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-report.svg" /></i>
            <span>Report management</span></a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="register.html">Dashboard</a>
            <a class="dropdown-item" href="login.html">Report List</a>
        </div>
    </li>

    <li class="nav-item ">
        <a class="nav-link" href="tables.html">
            <i class="nav-item-icon"><img src="img/web-nav-icon/nav-icon-account.svg" /></i>
            <span>Account setting</span></a>
    </li>
</ul>